@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html,
body {
  height: auto;
}

.btn-primary {
  @apply bg-primary text-white;
  border: 1px solid #2bd17e;
}

.btn-secondary {
  border: 1px solid white;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #2bd17e; /* Green */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: btn-spin 1s linear infinite;
}

@keyframes btn-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-background {
  background-image: url(/images/footer.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .footer-background {
    background-image: url('/images/footer-mobile.png');
  }
}
